@font-face
{
  font-family: 'Choplin';
  font-weight: normal;
  src: url('../fonts/32C393_0_0.eot');
  src: url('../fonts/32C393_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/32C393_0_0.woff2') format('woff2'), url('../fonts/32C393_0_0.woff') format('woff'), url('../fonts/32C393_0_0.ttf') format('truetype');
}

@font-face
{
  font-family: 'Choplin';
  font-weight: bold;
  src: url('../fonts/32C393_1_0.eot');
  src: url('../fonts/32C393_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/32C393_1_0.woff2') format('woff2'), url('../fonts/32C393_1_0.woff') format('woff'), url('../fonts/32C393_1_0.ttf') format('truetype');
}