html
{
  box-sizing: border-box;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

//::selection { background: $body-bg; color: #fff; }
//::-moz-selection { background: $body-bg; color: #fff; }

html, body
{
  margin: 0;
  padding: 0;
  position: relative;
}

body
{
  color: $text-color;
  background: $body-background;
  font-family: $font-family-sans-serif;
  font-size: $font-size-text;
  line-height: $line-height-base;
  @include text-fix();
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a
{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.content
{
  margin-left: $menu-width;
  margin-bottom: $content-bottom-margin;
  z-index: 1;

  .inner-content
  {
    margin-left: 128px;
    margin-right: 132px;
    margin-top: 50px;
  }
}