ul.categories
{
  @include reset-list();
  @include clearfix();
  display: flex;
  flex-direction: row;
  li
  {
    @include title-font();
    text-align: center;
    font-size: 20px;
    line-height: 1;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    color: $text-color-second;
    &:not(:last-of-type)
    {
      border-right: 1px solid $divider-content;
    }
    a
    {
      display: block;
    }
    i
    {
      margin-bottom: 24px;
      display: block;
      font-size: 65px;
    }
  }
}