.navbar
{
  background-color: $navbar-default-bg;
  display: block;
  width: $menu-width;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  height: inherit;
  z-index: 20;
  transition: width $transition-time ease-out;
  font-size: $font-size-menu;
  &.opened
  {
    transition: width $transition-time ease-in, opacity $transition-time ease-in;
    width: $menu-width-full;
    .footer
    {
      span:not(:first-of-type)
      {
        opacity: 1;
      }
    }
  }
  .hamburger
  {
    width: $menu-width;
    cursor: pointer;
    .icon-menu
    {
      color: #FFFFFF;
      display: block;
      padding: 15px 16px;
      background-color: darken($navbar-default-bg, 5%);
    }
  }
  .footer
  {
    position: absolute;
    bottom: 15px;
    left: 18px;
    font-size: 1.39em;
    width: calc(100% - 18px);
    display: block;
    color: lighten($navbar-default-bg, 44%);

    span[class^="char"]
    {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
    span:not(:first-of-type)
    {
      opacity: 0;
      transform: scale(100);
      transition: opacity $transition-time ease-out, opacity $transition-time ease-out;
    }
  }

  ul
  {
    @include reset-list();
    padding-top: 20px;
    &.help,
    &.contact
    {
      color: #A2A2A2;
    }
    &.contact
    {
      li a i
      {
        font-size: 1em;
      }
    }
    &:not(:last-of-type):after
    {
      content: "";
      height: 2px;
      background-color: $body-background;
      display: block;
      margin: 0 6px;
    }

    &.links
    {
      color: #FFFFFF;
    }
    li
    {
      padding-bottom: 16px;
      a
      {
        text-decoration: none;
        color: inherit;
        i
        {
          font-size: 1.25em;
          display: inline-block;
          width: $menu-width;
          text-align: center;
          vertical-align: text-bottom;
        }
      }
    }
  }
}