@charset "UTF-8";
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover, .carousel-control:focus {
  outline: 0;
  color: #FFF;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #FFF;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1280px;
  height: 100%;
  padding: 0;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Helpers */
.color-dog, .dog-hover:hover, .tag.category.dog:after {
  color: #FF6F9E;
}

.color-cat, .cat-hover:hover, .tag.category.cat:after {
  color: #8787FF;
}

.color-fish, .fish-hover:hover, .tag.category.fish:after {
  color: #FFB93F;
}

.color-bird, .bird-hover:hover, .tag.category.bird:after {
  color: #7BFF81;
}

.color-hamster, .hamster-hover:hover, .tag.category.hamster:after {
  color: #7BE5FF;
}

.color-other, .other-hover:hover, .tag.category.other:after {
  color: #FFFFFF;
}

@font-face {
  font-family: "icons";
  src: url("/fonts/icons.eot");
  src: url("/fonts/icons.eot?#iefix") format("eot"), url("/fonts/icons.woff2") format("woff2"), url("/fonts/icons.woff") format("woff"), url("/fonts/icons.ttf") format("truetype"), url("/fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * Icon elements */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\EA01";
}

.icon-search:before {
  content: "\EA02";
}

.icon-question-mark:before {
  content: "\EA03";
}

.icon-dog:before {
  content: "\EA04";
}

.icon-cat:before {
  content: "\EA05";
}

.icon-fish:before {
  content: "\EA06";
}

.icon-bird:before {
  content: "\EA07";
}

.icon-hamster:before {
  content: "\EA08";
}

.icon-heart:before {
  content: "\EA09";
}

.icon-other:before {
  content: "\EA0A";
}

.icon-contact:before {
  content: "\EA0B";
}

.icon-tag-front:before {
  content: "\EA0C";
}

.icon-arrow:before {
  content: "\EA0D";
}

/*
 * Media Queries */
/* Main styling */
@font-face {
  font-family: 'Choplin';
  font-weight: normal;
  src: url("../fonts/32C393_0_0.eot");
  src: url("../fonts/32C393_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32C393_0_0.woff2") format("woff2"), url("../fonts/32C393_0_0.woff") format("woff"), url("../fonts/32C393_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Choplin';
  font-weight: bold;
  src: url("../fonts/32C393_1_0.eot");
  src: url("../fonts/32C393_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32C393_1_0.woff2") format("woff2"), url("../fonts/32C393_1_0.woff") format("woff"), url("../fonts/32C393_1_0.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  color: #FFFFFF;
  background: #454545;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.content {
  margin-left: 60px;
  margin-bottom: 100px;
  z-index: 1;
}

.content .inner-content {
  margin-left: 128px;
  margin-right: 132px;
  margin-top: 50px;
}

/* Fundaments */
p,
span {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .choplin {
  font-family: "Choplin", serif;
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

/* Atoms */
.title-with-heart {
  font-family: "Choplin", serif;
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  display: inline;
  font-size: 50px;
  line-height: 1;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-left: 610px;
  color: #FFF;
  position: absolute;
  text-align: center;
  top: 52px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.title-with-heart:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA09";
  position: absolute;
  display: block;
  width: 100%;
  font-size: .6em;
}

.bold {
  font-weight: bold;
}

.size-1 {
  font-size: 40px;
}

.size-3 {
  font-size: 20px;
}

.text-helper,
.brand-text {
  color: #CECECE;
}

.brand-text {
  text-align: center;
  margin: 0 75px 25px;
}

.inline-button {
  position: relative;
}

label {
  display: block;
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: 3px;
}

form div:first-of-type label {
  margin-top: 16px;
}

form div.form-group:last-of-type {
  margin-bottom: 22px;
}

input {
  border: 2px solid #9a9a9a;
  font-size: 14px;
  padding: 12px;
  width: 255px;
}

.inline-button input {
  padding: 0 12px;
  height: 45px;
  width: calc(100% - 47px);
  z-index: 10;
}

textarea {
  font-family: "Arial", "Helvetica", sans-serif;
  border: 2px solid #9a9a9a;
  font-size: 14px;
  padding: 12px;
}

button {
  cursor: pointer;
  border: none;
}

button.inline {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 20;
  background-color: #323232;
  right: 2px;
  top: -1px;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
}

button.inline:hover {
  top: 0;
}

button.submit {
  width: 273px;
  font-size: 19px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 11.5px 0;
  background-color: #FF6F9E;
  line-height: 1;
}

.tag {
  display: inline;
  font-size: 14px;
  color: #CECECE;
  background-color: #323232;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 6px 15px 6px 8px;
  border-radius: 0 2px 2px 0;
  position: relative;
  margin-left: 16px;
}

.tag:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA0C";
  position: absolute;
  top: 0;
  left: -12px;
  color: #323232;
  font-size: 1.86em;
}

.tag.category {
  padding-left: 18px;
}

.tag.category:after {
  content: "";
  position: absolute;
  border: 5px solid;
  border-radius: 100%;
  top: 8px;
  left: 2px;
}

.faq {
  width: 100%;
  background-color: #717171;
  padding: 18px 23px;
}

.faq:not(:last-of-type) {
  margin-bottom: 10px;
}

.faq .faq-title {
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 20px;
  position: relative;
}

.faq .faq-title:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA0D";
  position: absolute;
  font-size: 14px;
  right: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.faq p {
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 19px;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq.opened p {
  max-height: 6em;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.faq.opened .faq-title:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

/* Molecules */
.products {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.products article {
  border: 1px solid #717171;
  background-color: #565656;
  height: 200px;
  padding: 5px;
}

.products article:not(:last-of-type) {
  margin-right: 6px;
}

.products article img {
  display: block;
  width: 100%;
}

.products article .product-description {
  color: #FFFFFF;
  padding: 8px 10px 0;
}

.products article .product-description span {
  font-size: 16px;
}

.products article .product-description:before, .products article .product-description:after {
  content: " ";
  display: table;
}

.products article .product-description:after {
  clear: both;
}

.products article .product-description .product-item-title {
  float: left;
  font-weight: bold;
}

.products article .product-description .product-item-price {
  float: right;
}

.exclusive {
  width: 613px;
  background: url("/images/layouts/pattern.png") repeat 0 45px;
  font-family: "Choplin", serif;
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  text-transform: none;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.exclusive p {
  margin: 0;
}

.exclusive .deals-first-read {
  margin: 34px auto;
  width: 75%;
  font-size: 44px;
  line-height: 44px;
}

.exclusive .deals-second-read {
  font-size: 20px;
  line-height: 20px;
}

.tags {
  line-height: 1;
  display: -webkit-box;
  display: flex;
}

.tags:before {
  font-family: "Choplin", serif;
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  content: "K";
  font-size: 30px;
  color: #FFFFFF;
}

.faqs h2.size-3 {
  margin-bottom: 20px;
}

/* Organisms */
.navbar {
  background-color: #323232;
  display: block;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  height: inherit;
  z-index: 20;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  font-size: 22px;
}

.navbar.opened {
  -webkit-transition: width 0.2s ease-in, opacity 0.2s ease-in;
  transition: width 0.2s ease-in, opacity 0.2s ease-in;
  width: 216px;
}

.navbar.opened .footer span:not(:first-of-type) {
  opacity: 1;
}

.navbar .hamburger {
  width: 60px;
  cursor: pointer;
}

.navbar .hamburger .icon-menu {
  color: #FFFFFF;
  display: block;
  padding: 15px 16px;
  background-color: #252525;
}

.navbar .footer {
  position: absolute;
  bottom: 15px;
  left: 18px;
  font-size: 1.39em;
  width: calc(100% - 18px);
  display: block;
  color: #a2a2a2;
}

.navbar .footer span[class^="char"] {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.navbar .footer span:not(:first-of-type) {
  opacity: 0;
  -webkit-transform: scale(100);
  transform: scale(100);
  -webkit-transition: opacity 0.2s ease-out, opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out, opacity 0.2s ease-out;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.navbar ul.help, .navbar ul.contact {
  color: #A2A2A2;
}

.navbar ul.contact li a i {
  font-size: 1em;
}

.navbar ul:not(:last-of-type):after {
  content: "";
  height: 2px;
  background-color: #454545;
  display: block;
  margin: 0 6px;
}

.navbar ul.links {
  color: #FFFFFF;
}

.navbar ul li {
  padding-bottom: 16px;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
}

.navbar ul li a i {
  font-size: 1.25em;
  display: inline-block;
  width: 60px;
  text-align: center;
  vertical-align: text-bottom;
}

ul.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

ul.categories:before, ul.categories:after {
  content: " ";
  display: table;
}

ul.categories:after {
  clear: both;
}

ul.categories li {
  font-family: "Choplin", serif;
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  color: #CECECE;
}

ul.categories li:not(:last-of-type) {
  border-right: 1px solid #616161;
}

ul.categories li i {
  margin-bottom: 24px;
  display: block;
  font-size: 65px;
}

.hot-items {
  margin-top: 15px;
}

.hot-items:before, .hot-items:after {
  content: " ";
  display: table;
}

.hot-items:after {
  clear: both;
}

.hot-items h2 {
  color: #FFFFFF;
  line-height: 1.8;
}

.hot-items .link-store {
  float: right;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  text-decoration: underline;
  line-height: 1;
  margin: 22px 0 34px;
}

.banner {
  height: 185px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  background-color: #5f5f5f;
}

.banner .email {
  padding: 40px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.banner .email p:first-child {
  margin-bottom: 3px;
}

.banner .email label {
  display: block;
  margin-top: 5px;
}

.about-us h1 {
  margin-top: 30px;
}

.about-us h2 {
  margin-bottom: 6px;
}

.about-us p:not(:last-child) {
  margin-bottom: 20px;
}

.about-us section {
  padding: 40px 0;
}

.about-us .info-contact {
  display: -webkit-box;
  display: flex;
  padding-top: 35px;
}

.about-us .info-contact .contact {
  padding: 0 0 20px 20px;
  border-left: 1px solid #616161;
  border-bottom: 1px solid #616161;
  width: 25%;
}

.about-us .info-contact .contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us .info-contact .contact ul li {
  line-height: calc(22px - 1px);
  font-size: 14px;
}

.about-us .info-contact .contact ul li:before {
  content: "•";
  padding-right: 2px;
}

.about-us textarea {
  width: 80%;
  height: 138px;
}

/* Buckets */

/*# sourceMappingURL=app.css.map */
