%color-dog {
  color: $brand-dog;
}

%color-cat {
  color: $brand-cat;
}

%color-fish {
  color: $brand-fish;
}

%color-bird {
  color: $brand-bird;
}

%color-hamster {
  color: $brand-small;
}

%color-other {
  color: $brand-other;
}

%color-bg-dog {
  background-color: $brand-dog;
}

%color-bg-cat {
  background-color: $brand-cat;
}

%color-bg-fish {
  background-color: $brand-fish;
}

%color-bg-bird {
  background-color: $brand-bird;
}

%color-bg-hamster {
  background-color: $brand-small;
}

%color-bg-other {
  background-color: $brand-other;
}