%color-dog {
  color: $brand-dog;
}

%color-cat {
  color: $brand-cat;
}

%color-fish {
  color: $brand-fish;
}

%color-bird {
  color: $brand-bird;
}

%color-hamster {
  color: $brand-small;
}

%color-other {
  color: $brand-other;
}