.inner-content.admin
{
  margin-top: 140px !important;
  .localized
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .localized-row
    {
      flex-grow: 1;
      width: 50%;
      h3
      {
        text-align: center;
        width: 100%;
      }
      .form-group
      {
        margin-left: 15px;
      }
    }
    .localized-row:not(:last-of-type)
    {
      border-right: 1px solid $product-border-color;
    }
  }
  &.center
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span.help-block
  {
    display: block;
  }
  .has-error
  {
    color: red;
  }
  h2
  {
    font-size: 35px;
    font-weight: bold;
  }
  h3
  {
    font-size: 26px;
    margin-bottom: 3px;
  }
  h2, article
  {
    margin-bottom: 15px;
  }
  &.dashboard
  {
    a
    {
      margin-right: 35px;
      i
      {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .hot-items
    {
      display: flex;
      justify-content: space-between;
      label
      {
        flex-grow: 1;
        text-align: center;
        &:not(:first-of-type):not(:last-of-type)
        {
          margin: 16px 5px 0;
        }
        &:first-of-type
        {
          margin-right: 5px;
        }
        &:last-of-type
        {
          margin-left: 5px;
        }
        span
        {
          display: block;
        }
        select
        {
          width: 100%;
        }
      }
    }
  }
  .link-in-icon
  {
    font-size: 20px;
    margin-right: 5px;
  }
  .tags
  {
    flex-wrap: wrap;
    justify-content: space-between;
    &:before
    {
      display: none;
    }
    .tag
    {
      font-size: 1.3em;
      width: calc(25% - 10px);
      padding: 10px;
      border-radius: 2px;
      margin: 0 0 15px;
      .fa
      {
        margin-left: 5px;
      }
      &:before
      {
        display: none;
      }
    }
  }
  .locale
  {
    input:not(type[checkbox])
    {
      width: 100%;
    }
    textarea
    {
      width: 100%;
      height: 150px;
    }
  }
  .examples-images
  {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-right: -15px;
    &:after
    {
      content: "";
      flex: auto;
    }
    img
    {
      height: 150px;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
  .images,
  .colors,
  .price-input,
  .faqs-picker,
  .tags-picker,
  .categories
  {
    margin-bottom: 25px;
  }
  .price-input
  {
    label
    {
      margin-top: 0;
      position: relative;
      input
      {
        width: 150px;
        text-align: center;
        padding-left: 19px;
      }
      &:before
      {
        font-family: "Arial", "Helvetica", sans-serif;
        content: '€';
        color: black;
        font-size: 16px;
        position: absolute;
        text-align: right;
        width: 22px;
        padding-top: 8px;
      }
    }
  }
  .picker
  {
    display: flex;
    flex-wrap: wrap;
    &:after
    {
      content: "";
      flex: auto;
    }
    label
    {
      display: inline-block;
      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .categories-pick
  {
    display: flex;
    justify-content: space-between;
    input[type=radio]
    {
      width: .1px;
      height: .1px;
      border: none;
      &:not(:checked) + label
      {
        color: #FFFFFF;
        opacity: .4;
        transition: all $transition-time ease-in;
      }
      & + label
      {
        cursor: pointer;
        display: inline;
        opacity: 1;
        transition: all $transition-time ease-out;
        span
        {
          font-size: 1.2em;
        }
      }
    }
  }
  .colors
  {
    #colors
    {
      display: flex;
      flex-wrap: wrap;
      &:after
      {
        content: "";
        flex: auto;
      }
      .color-input
      {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .margin-right
  {
    margin-right: 10px;
  }
}