.price
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 112px;
  .filter-title
  {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  .price-slider
  {
    width: $slider-width;
  }
}