button
{
  cursor: pointer;
  border: none;
  &.inline
  {
    width: $button-inline-width;
    height: $button-inline-height;
    position: absolute;
    z-index: 20;
    background-color: $button-inline-color;
    right: 2px;
    top: -1px;
    font-size: $button-inline-font-size;
    color: $button-inline-font-color;
    text-transform: uppercase;
    &:hover
    {
      top: 0;
    }
  }
  &.submit
  {
    width: $button-width;
    font-size: $button-font-size;
    color: $button-font-color;
    font-weight: bold;
    padding: 11.5px 0;
    background-color: $brand-dog;
    line-height: 1;
    transition: .2s;
    &:hover
    {
      background-color: darken($brand-dog, 16);
    }
  }
  &.add
   {
     width: $button-width;
     font-size: $button-font-size;
     color: $button-font-color;
     font-weight: normal;
     padding: 11.5px 0;
     background-color: $brand-fish;
     line-height: 1;
     transition: .2s;
     &:hover
     {
       background-color: darken($brand-fish, 16);
     }
   }
  &.remove
  {
    width: $button-width;
    font-size: $button-font-size;
    color: $button-font-color;
    font-weight: normal;
    padding: 11.5px 0;
    background-color: $brand-small;
    line-height: 1;
    transition: .2s;
    &:hover
    {
      background-color: darken($brand-small, 16);
    }
  }
}

.button-hot-product
{
  font-size: $font-size-text;
  font-weight: bold;
  background-color: $brand-dog;
  transition: .2s;
  padding: 5px 8px;
  &:hover
  {
    background-color: darken($brand-dog, 16);
  }
}