.faq
{
  width: 100%;
  background-color: $faq-background-color;
  padding: 18px 23px;
  &:not(:last-of-type)
  {
    margin-bottom: 10px;
  }
  .faq-title
  {
    cursor: pointer;
    &:after
    {
      @include arrow();
    }
    font-family: $font-family-sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: $font-size-3;
    position: relative;
  }
  p
  {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    overflow: hidden;
    line-height: 19px;
    max-height: 0;
    transition: max-height $transition-time ease-out;
  }
  &.opened
  {
    p
    {
      max-height: 6em;
      transition: max-height $transition-time ease-in;
    }
    .faq-title:after
    {
      @include arrow-open();
    }
  }
}