.product-specification
{
  .item
  {
    display: inline;
    margin-left: 20px;
    .indicator
    {
      font-weight: bold;
      &:after
      {
        content: '-';
        margin-left: 4px;
        font-weight: normal;
      }
    }
  }
}