.heading
{

  // Define sizes
  &.size-1
  {
  }

}

.title-with-heart
{
  @include title-font();
  display: inline;
  font-size: 50px;
  line-height: 1;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-left: ($container-width - $menu-width)/2;
  color: #FFF;
  position: absolute;
  text-align: center;
  top: 52px;
  transform: translate(-50%, 0);
  &:after
  {
    @include icon();
    @include icon-heart();
    position: absolute;
    display: block;
    width: 100%;
    font-size: .6em;
  }
}